.clearfix{
    clear:both;
}
.clearfix:after{
    clear: both;
    display: table;
    content: "";
}
.left{
    float: left;
}
.right {
    float: right;
}
.link{
    padding: 0px 36px;
}

.link ul li{
    padding: 15px 40px;
    list-style: none;
    float: left;

}

.navbar{
    background: #332b24;

}

.link ul li a{
   list-style-type:none;
   text-decoration: none;
   list-style: none;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding: 0px 15px;
    color: white;
}

.link ul i{
   
    color: white;
}

ul{
    margin: 20px;
}

.headerbutton{
    margin: 13px 30px;
    padding: 19px;
    border-radius: 25px;
    background: white;
    border: 0px;
   }
body{
    margin: 0px;
}

.lionking{
    width: 50%;
    position: relative;
}

.KINGIMAGES{
    position: absolute;
    bottom: 0px;
    left: 0px;
    position: absolute;
    bottom: 26px;
    left: 16px;
    background: #dcc9c999;
    /* top: 0px; */
    /* bottom: 0px; */
    left: 0px;
    right: 0px;
}
.KINGIMAGES h4{

    bottom: 0px;
    right: 0px;
    left: 0px;
    color: white;
    font-size: large;
    font-family: sans-serif;
    padding: 0px 45px;
}

.images{
    position: absolute;
    bottom: 35px;
    right: 40px;
    padding: 15px;
    border-radius: 30px;
    background: white;
}

.intropara{
    width: 50%;
    padding: 0px 0px 86px 0px;
    background: #520e0e;
    margin: 0px;
    position: relative;
}

.knowmore{
position: absolute;
LEFT: 292px;
padding: 22px;
border-radius: 35px;
margin: 0pxF;
}

img{
    width: 100%;
    display: block;
}

.intropara p {
    
    color: white;
    padding: 10%;
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.newyorkpost{
    
    width: 50%;
    padding: 0px 0px 83px 0px;
    background:black;
}

.simbaimg{
    width: 50%;
    position: relative;
}

.newyorkpost p{
    padding: 13%;
    /* align-content: center; */
    margin: 50px;
    /* display: none; */
    border: 20px;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.knowmore{
    
    padding: 19px;
    border-radius: 24px;
    background: white;
    border: 0px;
    float: left;
}

.footerlogo h1{
    color: white;
    padding: 0px 54px;
}


.details ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.details ul li a{
    padding: 15px;
    text-decoration: none;
    color: white;
}

.footer{
    background:#282d2d;
    padding: 20px 0px;
}

.details {
    border-left: 1px solid #6f6060;
    padding: 0px 50px 0px 1px;
}

.footerlogo{
    padding: 20px 40px;
}

.details li {
    padding: 5px 0px;
}

.legallink ul li a{
    padding: 15px;
    text-decoration: none;
    color: white;

}
.legallink ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.legallink li {
    padding: 0 0 20px 0px;
}

.legallink {
    border-left: 1px solid #6f6060;
    margin-top: 0px;
    padding: 0 0 64px 0;
}

.socialmedia h3{
    margin: 0px;
    padding: 0px 67px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
}

.socialmedia li{
    padding: 12px;
    color: white;
}

.socialmedia{
    padding: 0px 188px;
    margin-top: 36px;
}

.copyright{
    text-align: center;
    background:#0b0c0c;
   
}

.copyright p{
    color: white;
    margin: 0px;
    padding: 20px;
}
.text{
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #ffffff69;
    


}

.text h4{
    color: white;
    /* top: 50px; */
    position: absolute;
    top: 150px;
    /* text-align: center; */
    font-size: xx-large;
    left: 283px;
}